.crumb{
    background: #eee;
    height:50px;
    line-height: 50px;
    font-size: 14px;
    color:#777;
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 2px solid #c60023;
}
.panel{
    background: #fff;
    margin-bottom: 10px;
    padding:10px;
}
.panel .panel-title{
    padding:10px;
    font-size:14px;
    color:#666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.panel .panel-body{
    padding:10px;
    overflow: hidden;
}
.form-line{
    padding:0px;
    margin-top: 15px;
    height:30px;
    line-height: 30px;
    font-size:14px;
}
.form-line .label{
    /*sapn默认是没有宽度的*/
    display: inline-block;
    width: 100px;
    text-align: center;
    background:#eee;
}
.form-line .input{
    position: absolute;
    width: 200px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    outline: none;
    border:2px solid grey;
}
.item{
    padding-right: 10px;
}
.passwordInfo{
    margin:auto;
}
.btn-submit{
    display: inline-block;
    width:80px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}