
<!DOCTYPE html>
<html>
    <head>
            <%=require('html-loader!./layout/head-common.html')%>
            <title><%= htmlWebpackPlugin.options.title%> -- listore电商平台结果返回页</title>
    </head>
     
     <body>
            <%=require('html-loader!./layout/nav-simple.html')%>
          <div class="page-wrap">
              <div class="w">
                    <div class="user-con">
                        <div class="user-title">找回密码</div>
                        <div class="user-box">
                            <div class="error-item">
                                <i class="fa fa-minus-circle error-icon"></i>
                                <p class="error-msg">用户名不能为空</p>
                            </div>
                            <!--分三步第一步输入用户名对应后端--forgetGetQuestion(String username) -->
                            <!--容纳一步的大容器-->
                            <div class="step-con step-username">
                                <!--第一步输入用户名提示输入用户名的字段-->
                                <p class="user-item-text">
                                    请输入用户名：
                                </p>
                                <div class="user-item">
                                    <label class="user-label" for="username">
                                        <i class="fa fa-user-circle"></i>
                                    </label>
                                    <input type=text class="user-content" id="username" placeholder="请输入用户名" autocomplete="off"/>
                                </div>
                                <a class="btn btn-submit" id="submit-username">下一步</a>
                            </div>
                            <!--容纳第二个步的容器-->
                            <div class="step-con step-question">
                                    <!--第二步输入问题提示答案-->
                                <p class="user-item-text">
                                    找回密码提示问题：<span class="question"></span>
                                </p>
                                <div class="user-item">
                                    <label class="user-label" for="answer">
                                        <i class="fa fa-key"></i>
                                    </label>
                                    <input type=text class="user-content" id="answer" placeholder="请输入密码提示问题答案" autocomplete="off"/>
                                </div>
                                <a class="btn btn-submit" id="submit-question">下一步</a>
                            </div>
                            <div class="step-con step-password">
                                    <!--第三步输入问题提示答案-->
                                <p class="user-item-text">
                                    输入新密码：
                                </p>
                                <div class="user-item">
                                    <label class="user-label" for="newPassword">
                                        <i class="fa fa-lock"></i>
                                    </label>
                                    <input type="password" class="user-content" id="newPassword" placeholder="请输入新密码" autocomplete="off"/>
                                </div>
                                <a class="btn btn-submit" id="submit-password">下一步</a>
                            </div>
                            <div class="link link-item">
                                <div class="link return-login">返回登录>></div>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
          <%=require('html-loader!./layout/footer.html')%>
    </body>
</html>