<!DOCTYPE html>
<html>
    <head>
            <%=require('html-loader!./layout/head-common.html')%>
            <title><%= htmlWebpackPlugin.options.title%> -- listore电商平台结果返回页</title>
    </head>
     
     <body>
          <%=require('html-loader!./layout/nav.html')%>
          <%=require('html-loader!./layout/header.html')%>
          <div class="crumb">
              <div class="w">
                   <div class="crumb-con">
                       <a href="./index.html" class="link">LISTORE</a>
                       <span>></span>
                       <span class="link-text">修改密码</span>
                   </div>
              </div>
          </div>
          <div class="page-wrap w">
            <%=require('html-loader!./layout/nav-side.html')%>
            <div class="content with-nav">
                    <div class="panel">
                            <div class="panel-title"><%= htmlWebpackPlugin.options.title%></div>
                            <div class="panel-body">
                                    <div class="passwordInfo">
                                        <div class="form-line oldPass">
                                            <span class="label oldPassword">旧密码</span>
                                            <input type="password" class="input oldPass" id="oldPass">
                                        </div>
                                        <div class="form-line newPass">
                                            <span class="label newPassword">新密码</span>
                                            <input type="password" class="input newPass" id="newPass">
                                        </div>
                                        <div class="form-line newPassConfirm">
                                            <span class="label newPasswordConf">确认新密码</span>
                                            <input type="password" class="input newPassConf" id="newPassConf">
                                        </div>
                                        <span class="btn btn-submit">修改密码</span>
                                    </div>
                            </div>
                    </div>
            </div>
            
          </div>
          <%=require('html-loader!./layout/footer.html')%>
    </body>
</html>