.footer{
    padding-bottom: 50px;
}
.links{
    text-align: center;
    color: #666;
    line-height: 35px;
}
.links .link{
    padding: 0 10px;
}
.copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}