*{
     margin     : 0;
     padding    : 0;
}
body{
    background: #ffffff;
    /*12px/l.5表示1.5倍行距*/
    font:12px/1.5 tahoma,arial,Microsoft YaHei;

}
li{
    /*
    默认是带圆点的，这里不显示
    */
    list-syle:none;

}
img{
    disploy:block;
    border:none;
}
lable{
    /*光标：手的形状*/
    cursor:pointer;
}
/*input[]:[]选择器<input type='checkbox'>*/
input[type='checkbox']{
    cursor:pointer;
}
/*定宽布局*/
.w{
    width:1080px;
    /*为了让div在浏览器中水平居中，布局居中，水平居中*/
    margin:0 auto;
    /*相对定位，是相对于前面的容器定位的，这个时候不能用top,left在定位。应该用
    margin
    */
    position:relative;
    /*
    visible	内容不会被修剪，会呈现在元素框之外。
    hidden	内容会被修剪，但是浏览器不会显示供查看内容的滚动条。
    scroll	内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容。
    auto	由浏览器决定如何显示。如果需要，则显示滚动条。
    */
    overflow:hidden;
}
/*全局通用样式*/
/*隐藏类*/
.hide{
    display: none;
}
/*超级链接*/
.link{
    color:#999;
    cursor:pointer;
    /*链接没有下划线*/
    text-decoration-line: none;
}
.link:hover{
    color:#e80012;
}
.link-text{
    color:#999;
    text-decoration-line: none;
}