*{
     margin     : 0;
     padding    : 0;
}
body{
    background: #f6f6f6;
    /*12px/l.5表示1.5倍行距*/
    font:12px/1.5 tahoma,arial,Microsoft YaHei;

}
li{
    /*
    默认是带圆点的，这里不显示
    */
    list-style: none;

}
img{
    disploy:block;
    border:none;
}
lable{
    /*光标：手的形状*/
    cursor:pointer;
}
/*input[]:[]选择器<input type='checkbox'>*/
input[type='checkbox']{
    cursor:pointer;
}
/*定宽布局*/
.w{
    width:1080px;
    /*为了让div在浏览器中水平居中，布局居中，水平居中*/
    margin:0 auto;
    /*相对定位，是相对于前面的容器定位的，这个时候不能用top,left在定位。应该用
    margin
    */
    position:relative;
    /*
    visible	内容不会被修剪，会呈现在元素框之外。
    hidden	内容会被修剪，但是浏览器不会显示供查看内容的滚动条。
    scroll	内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容。
    auto	由浏览器决定如何显示。如果需要，则显示滚动条。
    */
    overflow:hidden;
}
/*全局通用样式*/
/*隐藏类*/
.hide{
    display: none;
}
/*超级链接*/
.link{
    color:#999;
    cursor:pointer;
    /*链接没有下划线*/
    text-decoration-line: none;
    font-size: 12px;
}
.link:hover{
    color:#e80012;
}
.link-text{
    color:#999;
    text-decoration-line: none;
    font-size: 12px;
}
.btn{
    /*
    inline-block:行内块元素
    inline:会显示为内联元素
    block:次元素将显示为块级元素
    */
    display:inline-block;
    /*
    上下边距为0px,
    左右边距为20px
    */
    padding:0 20px;
    height:40px;
    /*
    控制行高40px
    */
    line-height: 40px;
    /*
    把此元素放置在父元素的中部
    */
    vertical-align: middle;
    /*
    不加外边框
    */
    border:none;
    background: #c60023;
    font-szie:18px;
    /*
    bold:定义粗体字符
    bolder:定义更粗的字符
    lighter:定义更细的字符
    100~900:400为normal，700为bold
    */
    font-weight: bolder;
    color:white;
    /*
    轮廓：有如下属性：
    outline-color,:轮廓颜色
    outline-style,：轮廓样式
    outline-width：轮廓宽度
    exp:outline:#feefe dotted thick;
    */
    outline:none;
    cursor:pointer;
    /*
    可能的值：
    none:
    overline:定义在文本上的一条线
    underline:定义在文本下的一条线
    line-through:定义穿过文本的一条线
    blink:定义闪烁的文字
    inherit:继承父类text-decoration的属性
    */
    text-decoration:none;
}
.btn-mini{
    font-size: 12px;
    height: 25px;
    line-height:25px;

}
/*loading 样式*/
.loading{
    /*
    使图标居中显示:上下10像素，左右自动
    */
    margin: 40px auto;
    border:1px solid #ddd;
    border-radius: 5px;
    background: #ffffff;
    display:block;
    width: 65px;
    height: 65px;
    background: url(../../images/icon/5a6bac750e8a775dd2ecbe5b2673021c.gif) no-repeat;
    /*
    半透明效果
   
    opacity: .5; 
    background: #ddd;*/
    opacity: .9;
}